body {
  background: pink;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.heart {
  background-color: red;
  height: 80px;
  width: 80px;
  transform: rotate(-45deg);
}

.heart::before,
.heart::after {
  content: '';
  background-color: red;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  transition: background-color 1s;
}

.heart::before {
  top: -35px;
}

.heart::after {
  left: 35px;
}
